@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}
html, body{
	opacity: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	font-family: MuseoSansCyrlRegular;
	text-decoration: none;
}
.mob{
	display: none;
}
#mob-menu{
	display: none;
}
.mobile-menu{
	display: none;
}
button {
	outline: none !important;
	cursor: pointer;
}
ul{
	padding: 0;
	list-style: none;
}
select{
	outline: none;
}
div.icon-with-shadow {
	position: relative;
	border-radius: 50%;
	display:inline-block;
	margin-top: 15px;
	width: 50px;
	height: 50px;
	background-color: white;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
}
.mt-80{
	margin-top: 80px;
	margin-bottom: 60px;
}
.mt-40{
	margin-top: 40px;
}

div.icon-with-shadow:after {
	content: '';
	display: block;
	clear: both;
}

.align_center_to_left
{
	position: relative;
	right: 50%;
	top: 25%;
	float: right;
}
.align_center_to_right
{
	position: relative;
	z-index: 1;
	right: -50%;
}
.container {
	width: 1100px;
  	margin-left: auto;
  	margin-right: auto;
}
.flex-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
	.flex-container a {
		text-decoration: none;
	}
	.flex-container > .logo {
		padding: 20px 0;	
		margin: 10px;
		width: 30%;
		position: relative;
	}
	.placetip{
		color: rgb(187,187,187);
    	font-size: 12px;
    	position: absolute;
    	bottom: 28px;
    	left: 18px;
	}
	.flex-container > div.phone{
		padding: 20px 0;
		padding-right: 60px;
	}
	.vert-align{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.phone{
		display: inline-block;
    	margin-bottom: 20px;
    	margin-right: 20px;
	}
	.phone:nth-child(2){
		margin-right: 0;
	}
	.phone .info{
		display: inline-block;
		margin-left: 10px;
	}
	.phone .info .tip{
		font-family: MuseoSansCyrlMedium;
		color: rgb(187,187,187);
		font-size: 12px;
	}
	.phone .info .number{
		color: rgb(50,50,50);
		font-family: MuseoSansCyrlBold;
		font-size: 20px;
	}
	.phone .info a{
		display: block;
		margin-top: 5px;
		text-align: center;
		width: 130px;
		color: white;
		outline: none;
		border: none;
		font-family: MuseoSansCyrlMedium;
		padding: 2px 25px;
		background: #35ca67;
		border-radius:  10px;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	}
.panel{
	background: rgb(237,237,237);
}
	.panel .tab{
		font-family: MuseoSansCyrlMedium;
		text-decoration: none;
		width: 20%;
		padding: 15px 0;
		text-align: center;
		color: rgb(50,50,50);
		transition: .3s;
	}
	.panel .tab:hover{
		background: #35ca67;
		color: white;
	}
.geo{
	font-size: 18px;
	font-family: MuseoSansCyrlBold;
	color: rgb(50,50,50);
}
.geoPos{
	position: absolute;
    font-size: 12px;
    color: rgb(187,187,187);
    top: 55px;
    left: 280px;
}
div.slider-main {
	width: 1100px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 20px;
	background-color: rgb(237, 237, 237);
	border: 1px solid rgb(217, 217, 217);
}
	div.siema .slide{
		position: relative;
	}
	div.slider-main .image-container{
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0;
		top: 0;
		/*height: 450px;*/
	}
	div.slider-main .image-container img{
		width: 100%;
		border-radius: 15px;
	}
	div.slider-buttons {
		width: 155px;
		position: absolute;
		left: 70px;
		bottom: 20px;
	}
	button.siema-btn {
		outline: none;
		width: 0px;
		height: 11px;
		margin-right: 15px;
		background-color: white;
		border: none;
		border-radius: 50%;
	}
	button.active {
		background-color: rgb(25, 228, 95);
	}
	div.slider-main div.furniture-info {
		position: absolute;
		top: 20px;
		left: 45px;
		width: 60%;
	}
	div.slider-main div.furniture-info p {
		word-wrap: break-word;
	}
	.slide > a{
		text-decoration: none;
		position: absolute;
		bottom: 12px;
		right: 20px;
		background:rgb(50,50,50);
		color: white;
		padding: 16px 45px;
		font-size: 18px;
		border-radius: 30px;
		-webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
	}

.title{
	text-align: center;
	display: block;
	width: 100%;
	padding: 45px 0;
	font-size: 18px;
	font-family: MuseoSansCyrlBold;
}
.title img{
	display: inline-block;
	vertical-align: bottom;
	height: 45px;
	margin-right: 5px;
}
.title p{
	display: inline-block;
	vertical-align: bottom;
	margin: 0;
	text-align: left;
}
.categories div{
	position: relative;
	display: inline-block;
	width: 535px;
	margin-right: 26px;
	border-radius: 10px;
	margin-bottom: 13px;
	height: 215px;
	vertical-align: top;
}
.categories div:nth-child(5) {
	width: 1100px;
	margin-right: 0;
	background-color: rgb(237, 237, 237);
}
.categories div:nth-child(5) img {
	height: inherit;
	overflow-y: hidden;
}
.categories div:nth-child(2n){
	margin-right: 0;
}
.categories div:nth-child(1){
	background: #f0c644;
}
.categories div:nth-child(2){
	background: #35ca67;
}
	.categories div:nth-child(2) img{
		background: #35ca67;
		width: 50%;
		left:50%;
		padding-top: 21px;
	}
.categories div:nth-child(3){
	background: #10180f;
}
	.categories div:nth-child(3) img{
		width: 43%;
		left:53%;
	}
	.categories div:nth-child(3) h2{
		color: white;
	}
.categories div:nth-child(4){
	background: #e58446;
}
	.categories div:nth-child(4) img{
		width: 100%;
		left: 10%;
	}
	.categories div img{
		position: relative;
		top: 0;
		left: 42%;
		width: 58%;
		border-radius: 10px;
	}
	.categories div h2{
		z-index: 9;
		position: absolute;
		left: 30px;
		top:50px;
		font-size: 34px;
		color: rgb(50,50,50);
		font-family: MuseoSansCyrlBold;
	}
	.categories div a{
		cursor: pointer;
		color: rgb(50, 50, 50);
		position: absolute;
		left: 30px;
		bottom:30px;
		border: 0;
		outline: 0;
		padding: 15px 48px;
		border-radius: 30px;
		background: rgb(237,237,237);
		-webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
		font-family: MuseoSansCyrlMedium;
		text-decoration: none;
	}
.popular div.item{
	vertical-align: top;
    height: 275px;
	position: relative;
	border-radius: 15px;
	padding: 10px 20px;
	border: 1px solid rgb(217, 217, 217);
	transition: .5s;
	color: rgb(50, 50, 50);
	display: inline-block;
	margin-right: 1.2%;
	width: 20%;
}
.popular a:nth-child(7n) div.item{
	margin-right: 0px;
}
.popular a > div:hover{
	cursor: pointer;
	transform: translate(0,-5px);
	-webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4); 
}
	.popular div .stick{
		position: absolute;
		/*margin: 0;*/
		left: 30px;
		top: 30px;
		color: rgb(50, 50, 50);
		padding: 4px 30px;
		border-radius: 15px;
		background: #35ca67;
		font-size: 12px;
	}
	.popular div img{
		margin-top: 40px;
		width: 90%;
		height: 187px;
		margin-left: 5%;
		margin-bottom: 10px;
	}
	.popular div .text{
		color: rgb(50, 50, 50);
		margin: 15px 0;
		text-align: center;
	}

	.popular div .price{
		font-family: MuseoSansCyrlBold;
		font-size: 18px;
	}
	.popular div .price span{
		font-size: 14px;
		font-family: MuseoSansCyrlBold;
	}
.benefits {
	width: 980px;
	align-items: center;
}
	.benefit{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.benefit img{
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		margin-bottom: 20px;		
	}
	.benefit .text{
		text-align: center;
	}
.news div{
	cursor: pointer;
	width: 22%;
	border: 1px solid rgb(237,237,237);
	padding: 8px;
	padding-bottom: 20px;
	border-radius: 5px;
	transition: .3s;
}
.news div:hover{
	transform: translate(0,-5px);
	-webkit-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
}
.news div img{
	width: 100%;
	height: 187px;
	margin-bottom: 15px;
}
.news .title{
	text-align: left;
	padding: 0;
	display: inline-block;
	width: 68%;
	color: #35ca67;
	font-family: MuseoSansCyrlBold;
	font-size: 16px;
	margin-bottom: 15px;
}
.news .data{
	display: inline-block;
	width: 30%;
	color: rgb(187,187,187);
	text-align: right;
	font-size: 14px;
}
.news .info{
	color: rgb(50, 50, 50);
	font-size: 14px;
	max-height: 51px;
	overflow: hidden;
}
.works{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.work{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.work img{
	height: 64px;
}
.work .text{
	text-align: center;
}
.work .hr{
	margin-top: 8px;
	margin-bottom: 15px;
	height: 50px;
	width: 2px;
	background: #35ca67;
}
.bighr{
	width: 100%;
	height: 10px;
	background: #35ca67;
	position: absolute;
	top: 230px;
}
.paragraph h4{
	color: #35ca67;
	font-family: MuseoSansCyrlMedium;
	font-size: 20px;
	margin-bottom: 23px;
}
.paragraph p{
	color: rgb(50,50,50);
	font-family: MuseoSansCyrlRegular;
	font-size: 14px;
	line-height: 22px;
	width: 950px;
	margin-bottom: 45px;
	padding-left: 15px;
}
footer{
	margin-top: 60px;
	/*background: #3ec66b;*/
	background: #272727;
}
footer .flex-container{
	padding: 70px 0;
	width: 1040px;
	padding-right: 50px;
}
footer h5{
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
	font-family: MuseoSansCyrlLight;
}
footer .hr{
	margin: 20px 0;
	width: 90px;
	height: 3px;
	background: #3ec66b;
}
.left > div{
	display: inline-block;
	vertical-align: top;
	margin-right: 80px;
}
.contacts li{
	font-family: MuseoSansCyrlLight;
	color: rgb(187,187,187);
	margin-bottom: 30px;
	padding-left: 5px;
	font-size: 14px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.contacts img{
	margin-right: 10px;
}
.contacts li p{
	font-family: MuseoSansCyrlLight;
	display: inline-block;
}
.catalogUL li{
	padding-left: 5px;
	margin-bottom: 15px;
}
.catalogUL li a{
	font-size: 14px;
	font-family: MuseoSansCyrlLight;
	color: rgb(187,187,187);
	text-decoration: none;
	transition: .3s;
}
.catalogUL li a:hover{
	color: white;
}
.soc-network{
	margin-top: 60px;
	color: rgb(187,187,187);
}
.soc-network p{
	font-size: 14px;
	margin-bottom: 10px;
}
.soc-network > div a{
	text-decoration: none;
	background: rgb(160,160,160);
	color: white;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 7px;
}

footer .copyright{
	padding: 15px 0;
	background: #444444;
	color: rgba(187,187,187, .6);
	font-size: 14px;
	text-align: center;
}
.center{
	width: 200px;
	margin-right: 45px;
}
.center .partner-logo-container{
	display: inline-block;
	width: 28%;
	margin-bottom: 10px;
	margin-right: 5%;
	vertical-align: top;
}
.center .partner-logo-container:nth-child(3n + 2){
	margin-right: 0;
}
.center .partner-logo-container img{
	width: 100%;
}

.slider-holder
{
    width: 1100px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 1100px;
    background-color: red;
    height: 500px;
    clear: both;
    position: relative;
    
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}


.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -1100px;
}

#slider-image-3:target ~ .image-holder
{
    left: -2200px;
}

.button-holder
{
    position: relative;
    top: -20px;
    left: -500px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(237, 237, 237);
}

div.left-menu {
	margin-top: 10px;
	width: 180px;
	display: inline-block;
	vertical-align: top;
}

div.left-menu div {
	text-decoration: none;
	font-size: 14px;
	height: 40px;
	padding: 20px;
}

div.left-menu div:hover {
	cursor: pointer;
	background-color: rgb(237, 237, 237);
}

div.left-menu a {
	display: block;
	color: black;
	border-radius: 8px;
	text-decoration: none;
	font-size: 14px;
	padding: 15px;	
}

div.left-menu a:hover {
	cursor: pointer;
	background-color: rgb(237, 237, 237);	
}

div.news-block {
	width: 900px;
}

div.photo {
	width: 100%;
}

div.news-block img {
	border-radius: 10px;
	width: 60%;
	margin-top: 40px;
}

div.news-header {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(237, 237, 237);
}

div.news-header div.part-name {
	display: inline-block;
	font-family: MuseoSansCyrlBold;
	font-size: 20px;
	color: rgb(25, 228, 95);
}

div.news-header div.date {
	display: inline-block;
	font-family: MuseoSansCyrlRegular;	
	font-size: 18px;
	color: rgb(237, 237, 237);
}

div.stories p {
	font-family: MuseoSansCyrlRegular;	
	font-size: 15px;
	word-wrap: break-word;	
	color: rgb(187, 187, 187);
}

div.inner-slider {
	vertical-align: top;
	width: 630px;
	padding: 10px;
	display: inline-block;
}
div.inner-slider div.big-photo img {
	border-radius: 10px;
    width: 54%;
    margin-left: 18%;
    margin-bottom: 25px;
}
div.inner-slider div.big-photo img:hover {
	cursor: pointer;
}

div.inner-slider div.small-photo img {
	cursor: pointer;
	display: inline-block;
	width: 15%;
	height: 70px;
	margin-right: 15px;
	border-radius: 8px;
}

div.photo-changing {
	width: 100%;
}

div.photo-changing div.siema {
	width: 100%;
}
/*
div.picture {
	display: inline-block;
}*/

div.slider-main div.prev {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 40%;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	
	left: -15px;
	background-color: white;
	z-index: 2;
}

div.slider-main div.prev:hover {
	cursor: pointer;
}

div.slider-main div.next:hover {
	cursor: pointer;
}

div.slider-main p.arrow {
	text-align: center;
	padding-top: 10px;
}

div.slider-main div.next {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 40%;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	
	right: -15px;
	background-color: white;
	z-index: 2;	
	vertical-align: middle;
}

div.about-product {
	width: 250px;
	margin-top: 15px;
	margin-left: 10px;
	vertical-align: top;
	display: inline-block;
}

div.title-of-info {
	font-family: MuseoSansCyrlBold;
	font-size: 20px;
	margin-bottom: 5px;
}

div.descr {
	font-family: MuseoSansCyrlRegular;
	font-size: 12px;
	color:rgb(50, 50, 50);
	margin-bottom: 20px;
}

div.choose-size {
	font-family: MuseoSansCyrlRegular;
	font-size: 13px;	
	color:rgb(25, 228, 95);
	margin-bottom: 10px;
}

hr {
	border: none;
	background-color: rgb(237, 237, 237);
	color:rgb(187, 187, 187);
	height: 1px;
}

div.characteristics {
	font-family: MuseoSansCyrlBold;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 30px;
}

div.characteristics div {
	display: inline-block;
}
div.characteristics div p {
	width: 150px;
	font-family: MuseoSansCyrlBold;
}
div.characteristics select {
	vertical-align: middle;
	background-color: white;
	width: 100px;
	border: 1px solid rgb(187, 187, 187);
	border-radius: 10px;
	height: 25px;
	padding-left: 5px;
}

div.inner-slider div.table-head {
	border-bottom: 1px solid rgb(187, 187, 187);
	margin-top: 20px;
}

div.inner-slider a {
	display: inline-block;
	width: 135px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: rgb(187, 187, 187);
}

div.inner-slider a.active {
	color: black;
	font-family: MuseoSansCyrlBold;
	border-bottom: 3px solid rgb(25, 228, 95);
}

div.table-body div.table-element {
	padding: 15px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(230,230,230);
    display: flex;
    align-items: flex-end;
}

div.table-body div.table-element div.inner-descr {
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	font-size: 15px;
	color: rgb(157, 157, 157);
	word-wrap: break-word;	
}

div.table-body div.table-element .name {
	color: black;
	font-size: 14px;
	display: inline;
	width: 25%;
	vertical-align: top;
	float: left;
	font-family: MuseoSansCyrlBold;

}

div.table-body div.table-element .composition {
	display: inline-block;
	width: 70%;
	margin-left: 5%;
	font-size: 15px;
	color: rgb(157, 157, 157);
	text-align: right;
	word-wrap: break-word;
}
.fa-minus{
	margin-left: 15px;
}
div.number-with-plus-minus {
	display: inline-block;
	font-size: 20px;
	width: 100px;
	border-radius: 40px;
	background-color: white;
	padding: 5px 0px;

}
button.order {
	margin-top: 15px;
	color: white;
	font-size: 18px;
	background-color: rgb(25, 228, 95);
	display: inline;
	font-family: MuseoSansCyrlMedium;
	border: none;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
	margin-left: 10px;
}

div.title span {
	padding: 0px 20px	;
}

div.number-with-plus-minus input {
	background-color: white;
	border-radius: 40px;
	width: 40px;
    height: 25px;
    text-align: center;
    outline: none;
	vertical-align: middle;
}

span.symbol {
	color: white;
	font-size: 10px;
	display: inline-block;
}

span.symbol:hover {
	cursor: pointer;
}

.top-a{
	display: inline-block;
	font-family: MuseoSansCyrlMedium;
    text-decoration: none;
    width: 130px;
    text-align: center;
    border-bottom: 2px solid rgb(237,237,237);
    padding: 10px 0;
    text-align: center;
    color: rgb(50,50,50);
    text-decoration: none;
    transition: .3s;
}
.top-a:hover{
	border-color: #35ca67;
}

/* Outer */
.popup {
	z-index: 99;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
	max-width:400px;
	padding: 30px 20px;
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:8px;
    background:#fff;
}

#insert-photo {
	max-width: none;
	width: auto;
	height: 90vh;
	padding: 0;
	background: none;
	box-shadow:0px 2px 6px rgba(0,0,0,0);
}

#insert-photo img {
	height: 100%;
	border-radius:8px;
}
 
/* Close Button */
.popup-close {
    width:35px;
    height:30px;
    padding-top:6px;
    display:inline-block;
    position:absolute;
    top:60px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(255,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
	color:#fff;
	text-decoration:none;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(255,0,0,1);
    text-decoration:none;
}

.popUpTitle{
	border-top-left-radius:8px;
	padding: 10px 20px;
	font-family: MuseoSansCyrlBold;
	font-size: 24px;
	color: rgb(50, 50, 50);
}
.popUpTitleDescr{
	padding: 0px 20px;
	font-size: 14px;
}
.contactUs{
	padding: 20px 20px;
}
.contactUs input{
	width: 85%;
	font-size: 14px;
	color: rgb(50,50,50);
	display: block;
	padding: 15px 20px;
	outline: none;
	border: none;
	border-bottom: 1px solid yellow;
	background: none;
	margin-bottom: 30px;	
}
.contactUs textarea{
	width: 85%;
	font-size: 14px;
	color: rgb(50,50,50);
	display: block;
	padding: 15px 20px;
	outline: none;
	border: none;
	border-bottom: 1px solid yellow;
	background: none;
	min-height: 50px;
	max-height: 150px;
	margin-bottom: 40px;
}
.contactUs button{
	display: block;
	outline: none;
	border: none;
	background: #35ca67;
	padding: 12px 55px;
	width: 80%;
	font-size: 18px;
	font-family: MuseoSansCyrlBold;
	color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	cursor: pointer;
}

a.button-go-top {
	position: fixed;
	width: 55px;
	height: 55px;
	border-radius: 8px;
	bottom: 50px;
	left: 20px;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	background-color: rgb(25, 228, 95);
	z-index: 2;	
	color: white;
	opacity: 0;
	transition: .3s;
	/*text-align: center;*/		
}

a.button-go-top:hover {
	cursor: pointer;
}

a.button-go-top p {
	font-size: 24px;
	text-align: center;
	line-height: 58px;
}

a.call-button {
	cursor: pointer;
	position: fixed;
	width: 55px;
	height: 55px;
	border-radius: 40px;
	bottom: 50px;
	right: 20px;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	background-color: rgb(25, 228, 95);
	z-index: 2;	
	color: white;
	opacity: 0;
	transition: .3s;
	/*text-align: center;*/		
}
a.call-button p{
	font-size: 24px;
	text-align: center;
	line-height: 58px;
}
a.call-button:hover{
	background: #10180f;
}

div.products {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

div.products a {
	width: 20%;
	padding: 25px;
}

div.info-message {
	margin-top: 20px;
	font-size: 14px;
	color: rgb(187, 187, 187);
}

div.news-item {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	color: rgb(50, 50, 50);
}

div.news-item a {
	text-decoration: none;
}

#flash_message {
	position: fixed;
	height: auto;
	width: 20%;
	left: 40%;
	text-align: center;
	background-color: white;
	padding: 20px 0px 20px 0px;
	z-index: 2;
	color: #35ca67;
	font-family: MuseoSansCyrlBold;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	
}

ul.pagination{
	text-align: center;
}
ul.pagination li{
	display: inline-block;
	margin: 5px 8px;
	font-size: 18px;
}
ul.pagination li a{
	color: rgb(50, 50, 50);
}
ul.pagination li.active span{
	color: #35ca67;
}
ul.pagination li.disabled span{
	color: rgb(217, 217, 217);
}
#slider-small-photo {
	display: none;
}
