 <template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">Редактирование товара {{product.name}}</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <div id="button_slider" class="row default-row creating-row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="buttons"><button class="btn btn-primary btn-md" @click="$router.push(`/products/${product.id}/gallery`)">Фотографии слайдера</button></div>
                </div>
            </div>
            <inputform :product="product" :mode="'update'" :imageName="imageName"></inputform>         
            <div id="button-create" class="row default-row creating-row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="buttons">
                        <button class="btn btn-primary btn-md" @click="save">Сохранить</button>
                        <button class="btn btn-primary btn-md" @click="$router.push('/products')">Вернуться к списку</button>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</template>

<script>
    import inputform from './form.vue'
    export default {
        data() {
            return {
                product: {
                    name: '',
                    category_id: '',
                    short_info: '',
                    description: '',
                    image: null,
                    image_url: null,
                    is_by_order: false
                },
                categories: [],
                imageName: '',
                hideImage: false
            }
        },

        components: {
            inputform
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                this.product = await this.$http.get(`products/${this.$route.params.id}`);
                console.log(this.product);
                var responsedData = await this.$http.get('products');
                this.categories = responsedData.categories;                  
            },

            async save () {
                const data = new FormData()
                for (let key in this.product) {
                    if (this.product[key] === null && key !== 'image_url') {
                        this.$parent.message = 'Необходимо заполнить все поля';
                        this.$parent.showModal = true;
                        return;
                    }
                    if(key === 'is_by_order') {
                        this.product[key] = this.product[key] ? 1 : 0;
                    }
                    data.append(key, this.product[key]);
                }

                try {
                    let response = await this.$http.post(`products/${this.$route.params.id}`, data);
                    await this.load();
                    if (response.result == 'success') {
                        this.imageName = '';
                        this.hideImage = false;
                        this.$parent.message = 'Товар ' + this.product.name + ' обновлён';
                        this.$parent.showModal = true;
                    }
                    return
                } catch (e) {}
                this.$parent.message = 'Ошибка при обновлении товара';
                this.$parent.showModal = true;
            },

            saveImage (e) {
                this.product.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
                this.hideImage = true;
            }
        }
    }
</script>