<template>
    <div class="panel panel-default main-block">
        <div class="panel-heading">
            <span class="head-text">Создание новости</span>
        </div>
        <div class="panel-body nopadding full-panel">
            <newsForm :news="news" :mode="'create'"></newsForm>
            <div id="button-create" class="row default-row creating-row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="buttons">
                        <button class="btn btn-primary btn-md" @click="save()">Создать</button>
                        <button class="btn btn-primary btn-md" @click="$router.push('/news')">Вернуться к списку</button>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</template>

<script>
    import newsForm from './form.vue'
    export default {
        data() {
            return {
                news: {
                    name: '',
                    slug: '',
                    short_info: '',
                    description: '',
                    image: null,
                    image_url: null
                },
                categories: [],
                imageName: ''
            }
        },

        components: {
            newsForm
        },

        mounted () {
        },

        methods: {

            async save () {
                const data = new FormData();
                for (let key in this.news) {
                    if (this.news[key] === null && key !== 'image_url') {
                        this.$parent.message = 'Необходимо заполнить все поля';
                        this.$parent.showModal = true;
                        return;
                    }
                    if(key === 'is_by_order') {
                        this.news[key] = this.news[key] ? 1 : 0;
                    }                    
                    data.append(key, this.news[key]);
                }                
                console.log(this.news);

                try {
                    let response = await this.$http.post('news', data);
                    if (response.result == 'success') {
                        this.$parent.message = 'Новость ' + this.news.name + ' создана';
                        this.$parent.showModal = true;
                    }
                    this.news = {
                        name: '',
                        slug: '',
                        short_info: '',
                        description: '',
                        image: null,
                        image_url: null                     
                    };
                    this.imageName = '';
                    return
                } catch (e) {}
                this.$parent.message = 'Ошибка при создании новости';
                this.$parent.showModal = true;
            },

            saveImage (e) {
                this.news.image = e.target.files[0];
                this.imageName = e.target.files[0].name;
            }
        }
    }
</script>
