<template>
    <div class="with-overflow-form">
        <div id="news_name" class="row default-row creating-row">
            <div class="col-md-3"><b>Название</b></div>
            <div class="col-md-8">
                <input type="text" class="form-control" v-model="news.name" placeholder="Введите название новости">
            </div>
            <div class="col-md-1 check-or-error">
                <div>
                    <span class="fa fa-check checked" v-if="news.name"></span>
                    <span class="fa fa-warning errored" v-else></span>
                </div>
            </div>
        </div>
        <div id="slug" class="row default-row creating-row">
            <div class="col-md-3"><b>Слаг</b></div>
            <div class="col-md-8">
                <input type="text" class="form-control" v-model="news.slug" placeholder="Введите слаг">
            </div>
        </div>         
        <div id="news_image" class="row default-row creating-row">
            <div class="col-md-3"><b>Фотография</b></div>
            <div class="col-md-8 image">
                <div class="own-type-file">
                    <div class="uploadedImage" v-if="(!$parent.hideImage) && (mode === 'update')">
                        <img :src="news.image_url" alt="">
                    </div>                
                    <label for="uploader" class="custom-label">
                        Загрузить картинку
                    </label>
                    <input type="file" @change="saveImage" id="uploader">{{$parent.imageName}}
                </div>
            </div>
            <div class="col-md-1 check-or-error">
                <span class="fa fa-check checked" v-if="news.image_url"></span>
                <span class="fa fa-warning errored" v-else></span>
            </div>
        </div>
        <div id="description" class="row default-row creating-row">
            <div class="col-md-3"><b>Описание</b></div>
            <div class="col-md-8">
                <vue-editor v-model="news.description" :height="300"></vue-editor>
            </div>
        </div>
        <div id="short_info" class="row default-row creating-row">
            <div class="col-md-3"><b>Краткое описание</b></div>
            <div class="col-md-8">
                <input type="text" class="form-control" v-model="news.short_info" placeholder="Введите краткое описание новости">
            </div>
        </div>       
    </div>
</template>

<script>
    import { VueEditor } from 'vue2-editor'
    export default {
        props: ['news', 'mode'],

        data() {
            return {
            }
        },

        components: {
            VueEditor
        },

        mounted () {
        },

        methods: {

            saveImage (e) {
                this.news.image = e.target.files[0];
                this.$parent.imageName = e.target.files[0].name;
                if (this.mode === 'update') {
                    this.$parent.hideImage = true;
                }
            },
        }
    }
</script>
